/* --------------------------------
# General
-------------------------------- */
:root {
    --primary: rgb(180, 47, 65);
    --secondary: rgb(69, 80, 91)
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: pageload .7s;
}

h4 {
    color: var(--primary);
}

hr {
    background-color: var(--primary);
}

@keyframes pageload {
    from {
        opacity: 0;
        transform: rotateX(-7deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

/* --------------------------------
# NavBar
-------------------------------- */
.side-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 10px;
    top: 30%;
    z-index: 1000;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.646);
    text-decoration: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 5px;
    padding: 20px;
    transition: 1s;
}

.nav-images {
    width: 15px;
    height: 15px;
}

.nav-link-spans {
    display: none;
}

.nav-links:hover {
    background-color: rgba(180, 47, 65, 0.8);
}

.nav-links:hover > span {
    display: contents;
}


/* --------------------------------
# Header
-------------------------------- */
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    margin-bottom: 10px;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgba(180, 47, 65, 0.35), rgba(180, 47, 65, 0.35)),
                url("https://imgur.com/mOPnT5t.png"); 
    background-size: cover;
    background-position: top;
}

.titles {
    font-size: 40px;
    color: rgb(180, 47, 65);
    margin: 50px;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 1px rgba(180, 47, 65, 0.3);
    border-radius: 10px;
    font-size: 50px;
    padding: 0;
}

.header-text {
    text-decoration: none;
    margin: 10px;
}

/* --------------------------------
# About
-------------------------------- */
.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 80px;
    border-radius: 5px;
}

.about-subcontainer {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.profile-image {
    width: 400px;
    height: 380px;
    margin-left: 30px;
    box-shadow: 1px 1px 5px 3px rgba(180, 47, 65, .2);
}

.about-body-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px;
    margin-top: 0;
    width: 100%;
    height: 390px;
}

.occupation {
    font-size: 35px;
    color: #45505b;
    margin: 0;
    margin-bottom: 20px;
}

.about-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.about-links {
    font-size: 20px;
    padding: 10px 0;
    margin: 0;
    width: 50%;
}

.about-links > span {
    color: #45505b;
}

.about-links > a {
    font-size: 16px;
    color: #8ab7f9;
    text-decoration: none;
}

.about-body  {
    font-size: 20px;
    text-align: left;
    color: #45505b;
    margin: 10px 0;
    width: 100%;
}

/* --------------------------------
# Projects
-------------------------------- */
.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px 80px;
    margin-top: 0;
    width: 100%;
}

.card-linebreaks {
    width: 80%
}

.project-card {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    margin: 70px 50px;
    width: 500px;
    height: 400px;
    transition: opacity .8s;
}

.project-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    transition: .4s;
}

.top-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
    position: absolute;
    background-color: var(--primary);
    border-radius: 5px;
    transition: opacity .3s;
    z-index: 1000;
}

.card-image {
    width: 500px;
    height: 350px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: opacity .8s;
    pointer-events: none;
    z-index: -1;
}

.card-title {
    font-size: 35px;
    text-align: center;
    color: white;
    pointer-events: none;
    transition: opacity .8s;
    border: 2px solid white;
    margin: 5px;
    width: 70%;
} 

.bottom-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: var(--secondary);
    width: 500px;
    height: 400px;
}

.spacer {
    visibility: hidden;
    
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    color: white;
    border: 2px solid white;
    min-height: 178px;
    margin: 20px;
    padding: 10px;
}

.card-tech-title {
    font-size: 24px;
    text-decoration: underline;
    color: white;
    margin: 10px;
}

.card-tech {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    width: 70%;
}

.card-links {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin: 20px;
    width: 80%;
}

.card-individual-links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: #8ab7f9;
}



/* --------------------------------
# Technologies
-------------------------------- */
.tech-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    margin-bottom: 80px;
}

.tech-body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.tech-image-containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px;
    width: 120px;
}

.svgs {
    width: 80px;
    height: 80px;
}

.logo-titles {
    font-size: 25px;
}


/* --------------------------------
# Footer
-------------------------------- */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    width: 100%;
    height: 300px;
}

.footer-name-container {
    text-align: center;
    margin-bottom: 30px;
}

.footer-name-container > h1 {
    font-size: 45px;
    color: #cbcbcb;
    margin-bottom: 0;
}

.footer-name-container > p {
    font-style: italic;
    color: #cbcbcb;
}

.footer-link-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.social-links {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

.social-links:hover {
    text-decoration: underline;
    color: #8ab7f9;
}

.copyright-container > p {
    color: #cbcbcb;
}

.footer-name-link {
    text-decoration: none;
    color: #8ab7f9;
}

/* --------------------------------
# Media 
-------------------------------- */
@media screen and (min-width: 1700px) {
    .project-container {
        width: 90%;
        margin: 0;
    }

    .project-card {
        margin: 80px 125px;
    }

    .top-card {
        width: 550px;
        height: 450px;
    }

    .bottom-card {
        min-width: 550px;
        height: 450px;
    }

    .card-image {
        width: 550px;
        height: 370px;
    }

    .card-title {
        font-size: 40px;
        padding: 10px;
    }

}

@media screen and (max-width: 1100px) {
    .header-text {
        text-align: center;
        font-size: 50px;
    }
    
    .nav-links {
        display: none;
    }

    .about-subcontainer {
        flex-direction: column;
    }

    .profile-image {
        margin: 0;
    }

    .about-body-container {
        margin-top: 15px;
    }
    
    .tech-image-containers {
        margin: 20px;
    }
}

@media screen and (max-width: 800px) {
    .about-container {
        margin: 40px 10px;
    }

    .about-subcontainer > div {
        display: flex;
        justify-content: center;
    }

    .about-body-container {
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        margin: 0;
    }

    .about-links {
        font-size: 16px;
        width: 50%;
    }

    .about-links > a {
        font-size: 14px;
    }

    .occupation {
        margin: 0;
    }
    
    .titles {
        margin: 0;
    }

    .project-card {
        margin: 30px 10px;
        width: 450px;
        height: 350px;
    }

    .top-card {
        width: 450px;
        height: 390px;
    }

    .bottom-card {
        width: 450px;
        height: 390px;
    }

    .card-image {
        width: 450px;
    }

    .card-body {
        margin: 0;
    }

    .copyright-container {
        font-size: 12px;
    }
}

