
img {
    object-fit: fill;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: top;
    /* background-image: url(); */
}

.name {
    position: absolute;
    color: magenta;
}

